PORT=3002

UPLOAD_DIRECTORY_PATH=/Users/ruslan.ivanov/Documents/projects/readme-microservices/project/apps/file-vault/uploads
MONGO_HOST=localhost
MONGO_PORT=27020
MONGO_DB=readme-file-vault
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin
SERVE_ROOT=/static
